PORT=10000

AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=

AIRTABLE_ORDERS_TABLE_NAME=Unfulfilled Orders Log
AIRTABLE_SIZE_TABLE_NAME=Size Normalization

RETAILED_API_KEY=
RETAILED_GOAT_SEARCH_URL=https://app.retailed.io/api/v1/scraper/goat/search
